body {font-family: 'Open Sans', arial; padding:25px; text-align: center;}
input {background: #f5f5f5; padding: 10px 20px 10px 20px; border-radius: 5px;}
select {height:35px; font-size:15px; color: #47525d;}
select.homeselect {height:55px; font-size:15px; color: #47525d; width:300px;}
h1 {font-family:'Merriweather', serif; font-size:36px; color: #333; text-transform: lowercase;}
h2 {font-family:'Merriweather', serif; font-size:24px;}
h3 {font-family:'Merriweather', serif; font-size:18px; font-weight: normal; background-color: #007ddc; text-align: center; padding:10px; color: #fff;}
.submit {width:200px; height:55px; background-color: #ffc71c; margin-top:20px; font-size:15px; width:300px; }
h4 {font-family:'Merriweather', serif; font-size:16px; font-weight: normal;}
.logo {width:110px;}
table.dataTable {
    width: 100% !important;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    background: #eee;
    margin-top:20px;
    border-bottom:none !important;
    }
.dataTables_wrapper .dataTables_length {
    float: left;
    height: 60px;
}
table.dataTable thead td {
    padding: 10px 18px;
    border: none;
    font-weight: bold;
    background-color: #e8f3ff;
}
table.dataTable tbody td {
    padding: 8px 10px;
    border-left: none;
    border-bottom: none;
    border-top:none;
}
table.dataTable tr.odd { background-color: #fff; }
table.dataTable tr.even { background-color: #efefef; }
#home {
    margin-top: 50px;
    background: #f8f8f8;
    padding: 10px;
}
#mainbody {
	margin-top:150px;
}